<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <span>111</span>
        <!-- <img src="../image/html.png" /> -->
        <img src="<%= require('../image/html.png')%>" alt="picture" />
        <span class="iconfont icon-icon-test"></span>
    </body>
</html>
